@page
@using Logic;
@using DataLogic;
@using Logic.DTOs;
@model Library_Of_Babel_Web_Application.Pages.BookPageModel
@{
    <link href="~/css/Style.css" rel="stylesheet" type="text/css" />
}

<div class="parent">
    @foreach (Book book in Model.books)
    {
        <form method="post">
            <div class="div1">
                <img class="framed" src="data:image/jpg;base64,@System.Convert.ToBase64String(book.BookImage)" />
                <span class="name">
                    @book.BookTitle
                </span>
                <input asp-for="bookObject.BookId" type="hidden" value="@book.BookId " />
                <input type="submit" value="Add to favourite list">
            </div>
        </form>
    }
</div>



