@page
@model IndexModel
@using Logic;
@{
    <link href="~/css/Style.css" rel="stylesheet" type="text/css" />
}

<div class="parent">
    @foreach (Book book in Model.books)
    {
            <div class="div1">
                <img class="framed" src="data:image/jpg;base64,@System.Convert.ToBase64String(book.BookImage)" />
                <span class="name">
                @book.BookTitle
                </span>
            </div>
    }
</div>
