@page
@model IndexModel
@using Logic;
@{
    <link href="~/css/IndexStyle.css" rel="stylesheet" type="text/css" />
    Layout = "";
}

<body>
    <h1 style="color:white">Welcome to the Library Of Babel</h1>
    @if (!User.Identity.IsAuthenticated)
    {
        <a href="/LogIn"><button style="--clr:#39FF14"><span>Log In</span><i></i></button></a>
        <a href="/SignUpPage"><button style="--clr:#FF44CC"><span>Sign Up</span><i></i></button></a>
        <a href="/BookPage"><button style="--clr:#0FF0FC"><span>See all books</span><i></i></button></a>
    }
    else
    {
        <a href="/BookPage"><button style="--clr:#0FF0FC"><span>See all books</span><i></i></button></a>
        <a href="AccountInformationPage"><button style="--clr:#8A2BE2"><span>Account Information</span><i></i></button></a>
    }
</body>
