@page
@model IndexModel
@using Logic;
@{
    <link href="~/css/IndexStyle.css" rel="stylesheet" type="text/css" />
    Layout = "";
}

<body>
    <div class="header">
        <a class="logo">Welcome to the Library Of Babel</a>
        <div class="header-right">
            @if (!User.Identity.IsAuthenticated)
            {
                <a href="/LogIn">Log In</a>
                <a href="/SignUpPage">Sign Up</a>
            }
            else
            {
                <a href="/FavouriteBookPage">See your favourite books</a>
                <a href="/RecommendedPage?name=ByGenre">See recommended books</a>
                <a href="/RecommendedPage?name=ByRating">See top rated books</a>
                <a href="AccountInformationPage">Account Information</a>
            }
        </div>
    </div>

    <div class="parent">
        @foreach (Book book in Model.books)
        {
            <form method="post">
                <div class="div1">
                    <div class="book-image">
                        <button type="submit" class="framed"><img class="framed" src="data:image/jpg;base64,@System.Convert.ToBase64String(book.BookImage)" /></button>
                    </div>
                    <div class="book-title">
                        <span>@book.BookTitle</span>
                    </div>
                    <div class="add-to-favorites">
                        <input asp-for="bookObject.BookId" type="hidden" value="@book.BookId " />
                    </div>
                </div>
            </form>
        }
    </div>
    </div>
</body>
