@page
@model Library_Of_Babel_Web_Application.Pages.LogInPageModel
@{
    ViewData["Title"] = "Sign In";
}

@section scripts
    {
    <partal name="_ValidationScriptsPartial" />
}

<style> .nav-container {display: none}</style>
<body class="login-page">
<div class="login-page--content">
    <h1>Login</h1>

    <form method="post">
        <div class="txt-field input-login">
                <input type="text" asp-for="UserObject.Email" placeholder="Your email" required/>
                <span asp-validation-for="UserObject.Email"></span>
                <label asp-for="UserObject.Email">Email</label>
        </div>
        <div class="txt-field input-password">
                <input type="password" asp-for="UserObject.Password" />
                <span asp-validation-for="UserObject.Password"></span>
                <label asp-for="UserObject.Password">Password</label>
        </div>

        <p class="text-danger">@Model.Message</p>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="login--btn-container btn-container">
            <button class="btn-login btn-submit" type="submit">Log In</button>
            <button class="btn-login btn-cancel" type="button"><a class="btn-return" asp-page="Index">Cancel</a></button>
        </div>
    </form>
</div>
</body>

