.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

img {
    width: 250px;
    height: 250px;
}

.div1 {
    padding-right: 80px;
    padding-bottom: 80px;
}

:root {
    --red: tomato;
    --bgColor: bisque;
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: var(--bgColor);
}

img.framed {
    box-shadow: -50px -50px 0 -40px var(--red), 50px 50px 0 -40px var(--red);
}